@charset "utf-8";
/* CSS Document */
/* =========================================== */
/* 整體設定 開始                               */
/* =========================================== */
body {
  margin: 0px;
  padding: 0px;
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 12pt;
  color: #4d525e;
  text-align: left;
  line-height: 150%;
  background-color: #878A99;
}

form {
  margin: 0px;
  padding: 0px;
}	

fieldset {
  margin-left: 0px ;
  margin-right: 0px ;
}

legend {
  text-align: left;
  color: #000000;
}

select {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
}

a {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 12pt;
  color: #4d525e;
  text-decoration: none;
}
a:link {
  color: #4d525e;
  text-decoration: none;
}
a:visited {
  color: #4d525e;
  text-decoration: none;
}
a:hover {
  color: #924677;
  text-decoration: underline;
}
/* =========================================== */
/* 整體設定 結束                               */
/* =========================================== */


/* =========================================== */
/* 框架設定 開始                               */
/* =========================================== */
/* 主要框架 */
#DivMain {
  width: 960px;
  margin: 0px auto 0px;
  padding: 0px;
  background-image: url('../../media/style/4-bg.jpg');
  background-position: center top;
  background-repeat: repeat-y;  
}

/* 上方框架 */
#DivTitle {
  width: 100%;
  height: 260px;
  margin: 0px auto 0px;
  padding: 0px;
  background-image: url('../../media/style/4-main.jpg');
  background-position: center top;
  background-repeat: no-repeat;
}
 
/* 中央 左方選單框架 */
#DivMenu {
  width: 180px;
  margin: -40px 0px 0px 22px;
  text-align: left;
  float: left;
}

/* 中央 內容框架 */
#DivContent {
  width: 720px;
  margin: -40px 25px 0px 5px;
  padding: 0px;
  float: right;
}

/* 中央 內容 首頁左方框架 */
#DivContentLeft {
  width: 540px;
  margin: 0px;
  padding: 0px;
  float: left;
}

/* 中央 內容 首頁右方框架 */
#DivContentRight {
  width: 160px;
  margin: 0px 10px 0px 0px;
  float: right;
}

/* 下方框架 */
#DivBottom {
  width: 100%;
  height: 166px;
  margin: 0px auto 0px;
  padding: 5px 0px 5px 0px;
  background-image: url('../../media/style/4-bottom.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
}
/* =========================================== */
/* 框架設定 結束                               */
/* =========================================== */


/* =========================================== */
/* 上方區域設定 開始                           */
/* =========================================== */
/* 網站導覽 */
#DivGuide {
  text-align: right;
  font-size: 11t;
  padding: 38px 60px 0px 0px;
  float: right;
}

/* 網站名稱 */
.WebTitle {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 20pt;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  padding: 100px 0px 0px 50px;
}

/* 快速鍵 */
.AccessL {
  width: 100%; 
  padding: 0px 0px 0px 20px;
  margin: 0px
  text-align: left; 
}
.AccessC {
  width: 100%; 
  padding: 0px;
  margin: 0px
  text-align: left; 
}
.AccessR {
  width: 100%; 
  padding: 0px 0px 0px 20px;
  margin: 0px
  text-align: left; 
}

/* 快速鍵連結 */
a.AccessLink {
  font-size: 9pt;
  color: #CCC;
  text-decoration: none;
}
a.AccessLink:link {
  color: #CCC;
  text-decoration: none;
}
a.AccessLink:visited {
  color: #CCC;
  text-decoration: none;
}
a.AccessLink:hover {
  color: #333333;
  text-decoration: underline;
}

/* 網站導覽連結 */
a.GuideLink {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 11pt;
  color: #4B618C;
  text-decoration: none;
}
a.GuideLink:link {
  color: #4B618C;
  text-decoration: none;
}
a.GuideLink:visited {
  color: #4B618C;
  text-decoration: none;
}
a.GuideLink:hover {
  color: #4B618C;
  text-decoration: underline;
}
/* =========================================== */
/* 上方區域設定 結束                           */
/* =========================================== */


/* =========================================== */
/* 首頁中央區域設定 開始                       */
/* =========================================== */
/* 首頁 中央功能選單框架（自動列出、網站導覽、圖片輪播、文字輪播） */
.ContentFrameHome {
	border: 1px dotted #4B618C;
  font-size: 12pt;
}

/* 主要內容框架 */
.ContentFrame {
  margin: 0px 15px 10px 10px;
}

/* 主要內容框架 功能選單名稱 */
.ContentMenuName {
	height: 40px;
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 16pt;
  font-weight: bold;
  color: #3f6ab9;
  text-align: left;
  margin-top: 10px;
  padding: 15px 0px 0px 60px;
  background-image: url('../../media/style/4-subject.jpg');
  background-position: left top;
  background-repeat: no-repeat;
}
/* =========================================== */
/* 首頁中央區域設定 結束                       */
/* =========================================== */


/* =========================================== */
/* 下方區域設定 開始                           */
/* =========================================== */
/* 下方版權框架 */
.FootBlock{
  text-align:center;
  padding-top: 90px;
}

/* 下方版權表格 */
.FootText {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #ffffff;
  text-align: center;
}

/* 下方版權連結 */
a.FootLink {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #ffffff;
  text-decoration: none;
}
a.FootLink:link {
  color: #ffffff;
  text-decoration: none;
}
a.FootLink:visited {
  color: #ffffff;
  text-decoration: none;
}
a.FootLink:hover {
  color: #333333;
  text-decoration: underline;
}
/* =========================================== */
/* 下方區域設定 結束                           */
/* =========================================== */


/* =========================================== */
/* 左方選單設定 開始                           */
/* =========================================== */
/* 主選單標題 */
.MenuTitle_0 {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 12pt;
  color: #4B618C;
  line-height: 180%;
  text-align: left;
  margin: 10px 0px 2px 20px;
  padding-left: 20px;
  background-image: url('../../media/style/4-menu.jpg');
  background-position: left center;
  background-repeat: no-repeat;
}

/* 子選單標題 */
.MenuSubTitle_0 {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 12pt;
  color: #4B618C;
  line-height: 180%;
  text-align: left;
  margin: 10px 0px 2px 28px;
  padding-left: 18px;
  background-image: url('../../media/style/4-submenu.jpg');
  background-position: left center;
  background-repeat: no-repeat;
}

/* 選單連結 */
a.MenuLink_0 {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 12pt;
  color: #4B618C;
  text-decoration: none;
}
a.MenuLink_0:link {
  color: #4B618C;
  text-decoration: none;
}
a.MenuLink_0:visited {
  color: #4B618C;
  text-decoration: none;
}
a.MenuLink_0:hover {
  color: #924677;
  text-decoration: none;
}
/* =========================================== */
/* 左方選單設定 結束                           */
/* =========================================== */


/* =========================================== */
/* 首頁中間選單設定 開始                       */
/* =========================================== */
a.MenuLink_1 {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 12pt;
  color: #4B618C;
  text-decoration: none;
}
a.MenuLink_1:link {
  color: #4B618C;
  text-decoration: none;
}
a.MenuLink_1:visited {
  color: #4B618C;
  text-decoration: none;
}
a.MenuLink_1:hover {
  color: #4B618C;
  text-decoration: underline;
}
/* =========================================== */
/* 首頁中間選單設定 結束                       */
/* =========================================== */


/* =========================================== */
/* 右方選單設定 開始                           */
/* =========================================== */
/* 主選單標題 */
.MenuTitle_2 {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 12pt;
  color: #4B618C;
  line-height: 180%;
  text-align: left;
  margin: 10px 0px 2px 5px;
  padding-left: 20px;
  background-image: url('../../media/style/r_menu.png');
  background-repeat: no-repeat;
}

/* 子選單標題 */
.MenuSubTitle_2 {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 12pt;
  color: #4B618C;
  line-height: 180%;
  text-align: left;
  margin: 10px 0px 2px 30px;
  padding-left: 20px;
  background-image: url('../../media/style/r_submenu.jpg');
  background-repeat: no-repeat;
}

/* 選單連結 */
a.MenuLink_2 {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 12pt;
  color: #4B618C;
  text-decoration: none;
}

a.MenuLink_2:link {
  color: #4B618C;
  text-decoration: none;
}

a.MenuLink_2:visited {
  color: #4B618C;
  text-decoration: none;
}

a.MenuLink_2:hover {
  color: #4B618C;
  text-decoration: underline;
}
/* =========================================== */
/* 右方選單設定 結束                           */
/* =========================================== */


/* =========================================== */
/* 功能選單 開始                               */
/* =========================================== */
/* 框架設定 */
.ContentMain {
  margin: 0px;
  padding: 0px;
  width: 100%;  
}

/* 標題設定 */
.ContentTitle {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color: #333333;
  text-align: left;
  padding: 5px;
  margin: 10px;
  word-wrap: break-word;
  overflow: hidden;
}

/* 內容設定 */
.ContentBody {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 12pt;
  color: #666666;
  margin: 10px 20px 10px 20px;
  padding: 0px;
  word-wrap: break-word;
  overflow: hidden;
  text-align: justify; 
  text-justify: inter-ideograph;
  line-height: 150%; 
}

/* 清單 */
.ContentList{
  margin: 0px;
  padding-left: 25px;
  background-image: url('../../media/style/4-dot.jpg');
  background-repeat: no-repeat;
}

/* 清單奇數列 */
.ContentBody .ContentList .ContentListOdd {
	background-color: #ffffff;
}

/* 清單偶數列 */
.ContentBody .ContentList .ContentListEven {
	background-color: #ffffff;
}

/* 附件 */
.ContentAttach {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #666666;
  margin: 10px 20px 10px 20px;
  padding: 0px;
  text-align: justify; 
  text-justify: inter-ideograph;
  line-height: 150%; 
}

/* 備註說明 */
.ContentMemo {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #999999;
  text-align: left;
  border-bottom: 1px solid #666666;
  margin: 10px 20px 30px 20px;
}

/* 換頁控制 */
.ContentPageChange {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #999999;
  text-align: right;
  margin: 10px 20px 10px 10px;
}

/* 換頁連結 */
a.PageChangeLink {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #999999;
  text-decoration: underline;
}
/* 換頁連結（未瀏覽） */
a.PageChangeLink:link {
  color: #999999;
  text-decoration: underline;
}
/* 換頁連結（已瀏覽） */
a.PageChangeLink:visited {
  color: #999999;
  text-decoration: underline;
}
/* 換頁連結（滑鼠移至上方） */
a.PageChangeLink:hover {
  color: #000000;
  text-decoration: none;
}

/* 類別選擇控制 */
.ContentGroupChange {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #000000;
  text-align: right;
  margin: 10px 20px 10px 10px;
	float: right;
}

/* 搜尋控制 */
.ContentSearch {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #999999;
  text-align: right;
  margin: 10px 20px 10px 10px;
  float: left;
}

/* 搜尋連結 */
a.ContentSearchLink {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #999999;
  text-decoration: underline;
}
/* 搜尋連結（未瀏覽） */
a.ContentSearchLink:link {
  color: #999999;
  text-decoration: underline;
}
/* 搜尋連結（已瀏覽） */
a.ContentSearchLink:visited {
  color: #999999;
  text-decoration: underline;
}
/* 搜尋連結（滑鼠移至上方） */
a.ContentSearchLink:hover {
  color: #000000;
  text-decoration: none;
}

/* 網站導覽內容 */
.GuideBody {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 12pt;
  color: #666666;
  margin: 10px 20px 10px 20px;
  padding: 0px;
  word-wrap: break-word;
  overflow: hidden;
  text-align: justify; 
  text-justify: inter-ideograph;
  line-height: 150%; 
} 

/* 網站導覽內容標題 */
.MenuTitle_guide {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 12pt;
  color: #603D1D;
  line-height: 180%;
  text-align: left;
  margin: 10px 0px 2px 20px;
  padding-left: 20px;
}

/* 網站導覽內容子標題 */
.MenuSubTitle_guide {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 12pt;
  color: #603D1D;
  line-height: 180%;
  text-align: left;
  margin: 10px 0px 2px 30px;
  padding-left: 20px;
}

/* 網站導覽內容連結 */
a.MenuLink_guide {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 12pt;
  color: #AB6D36;
  text-decoration: none;
}
a.MenuLink_guide:link {
  color: #AB6D36;
  text-decoration: none;
}
a.MenuLink_guide:visited {
  color: #AB6D36;
  text-decoration: none;
}

a.MenuLink_guide:hover {
  color: #603D1D;
  text-decoration: underline;
}

/* 多筆資料註腳 */
.ContentSign {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #999999;
  text-align: right;
  border-bottom: 1px solid #666666;
  margin: 10px 20px 10px 20px;
}

/* 外部連結嵌入網頁 */
.ContentIFrame {
  width: 100%;
  height: 500px;
  margin: 0px auto 0px;
  padding: 0px;
}

/* 相簿表格*/
.ContentAlbumTable{
  width:95%;
  border-bottom: 1px dotted #c0c0c0;
  margin: 0px 20px 10px 20px;  
}

/* 相簿 */
.ContentAlbum {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #666666;
  line-height: 180%;
  text-align: left;
  margin: 10px 5px 10px 0px;
  padding-left: 30px;
  background-image: url('../../media/public/folder.gif');
  background-repeat: no-repeat;
}

/* 最新相片 */
.ContentPhotoNew {
  text-align:left;
  padding-left:25px;
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #666666;  
}

/* 相框（縮圖） */
.ContentPhotoTable{
  margin: 0px 20px 10px 20px;
  width:90%;
}

/* 相片 */
.ContentPhoto {
  border:1px dotted #c0c0c0;
  background-color: #fcfcfc; 
  padding: 10px;
  width: 120px; 
  height: 120px;
}

/* 相片名稱 */
.ContentPhotoName  {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #666666;
  padding-top:5px;
  padding-bottom:20px;
}

/* 相片簡述 */
.ContentPhotoMemo{
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #999999;
}

/* 閱覽相片時「上一張、下一張」區塊之設定 */
.ContentPhotoMenu{
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  padding-bottom: 5px;
  margin: 0px 10px 10px 0px;
  width:590px;
  text-align:right;
  border-bottom:1px dotted #c0c0c0;
}
  
/* 相片寬度 */
.ContentPhotoWidth{
   width:550px;
}

/* 相框表格 */
.ContentPhotoLayoutTable{
  border:1px dotted #c0c0c0;  
}
                    
/* 相框 */
.ContentPhotoLayout{
  background-color: #F0F0F0;
  text-align:center;
  margin: 0px;
  padding: 20px;
} 

/* 相簿連結設定 */
a.PhotoLink {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 12pt;
  color: #4d525e;
  text-decoration: none;
}
a.PhotoLink:link {
  color: #4d525e;
  text-decoration: none;
}
a.PhotoLink:visited {
  color: #4d525e;
  text-decoration: none;
}
a.PhotoLink:hover {
  color: #924677;
  text-decoration: underline;
}

/* 相片上下連結設定 */
a.PhotoLinkSwitch {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #999999;
  text-decoration: underline;
}
a.PhotoLinkSwitch:link {
  color: #999999;
  text-decoration: underline;
}
a.PhotoLinkSwitch:visited {
  color: #999999;
  text-decoration: underline;
}
a.PhotoLinkSwitch:hover {
  color: #000000;
  text-decoration: none;
}

/* 萬用欄位（左方） */
.MenuContent_0 {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #000000;
  line-height: 150%;
  text-align: left;
  margin: 0px 10px 10px 20px;
  padding: 5px 0px 10px 10px;
  background-repeat: no-repeat;
  border-top: #4B618C dotted 1px;
  word-wrap: Break-word;
  overflow: hidden;
}

/* 萬用欄位（中央） */
.MenuContent_1 {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #000000;
  line-height: 150%;
  text-align: left;
  margin: 5px 0px 10px 0px;
  padding: 5px 0px 10px 5px;
  background-repeat: no-repeat;
  border-top: #4B618C dotted 1px;
  word-wrap: Break-word;
  overflow: hidden;
}

/* 萬用欄位（右方） */
.MenuContent_2 {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #000000;
  line-height: 150%;
  text-align: left;
  margin: 0px 5px 10px 5px;
  padding: 5px 0px 10px 5px;
  background-repeat: no-repeat;
  border-top: #4B618C dotted 1px;
  word-wrap: Break-word;
  overflow: hidden;
}

/* Google、成語典、國語辭典 */
.MenuQuery {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #666666;
  line-height: 180%;
  text-align: center;
  margin: 0px 5px 2px 5px;
  padding-bottom: 5px;
	border: 1px solid #4B618C;
}

/* Google、成語典、國語辭典 輸入*/
.MenuQueryInput {
  font-size: 9pt;
	height: 15px;
	width: 100px;
	border: 1px solid #4B618C;
	margin-bottom: 5px;
}	

/* Google、成語典、國語辭典 按鈕*/
.MenuQueryButton {
  font-size: 9pt;
	height: 20px;
	border: 1px solid #4B618C;
}

/* 圖片連結 */
.MenuMediaLink {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  line-height: 180%;
  text-align: center;
  margin: 0px 5px 2px 5px;
  padding-bottom: 5px;
	border: 1px solid #4B618C;
}

/* 圖片連結 圖片*/
.MenuMediaLinkSrc {
	width: 125px;
	margin: 2px 0px;
	border: 1px dotted #c0c0c0;" 
}

/* 圖片輪播 */
.MenuPhotoShow {
  text-align: center;
  margin: 10px 0px 0px 0px;
  padding:15px;
  border:1px dotted #4B618C;
  background-color: #f0f0f0;
}

/* 文字輪播 */
.MenuTextShow {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 10pt;
  height: 25px;
  color: #666666;
  text-align: left;
  margin: 10px 0px 0px 0px;
  border:1px dotted #4B618C;
  background-color: #ffffff;
}

/* 文字輪播名稱 */
.MenuTextShowTitle {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  width: 57px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding-top: 2px;
  margin: 10px 0px 0px 0px;
}

/* 文字輪播內容捲動 */
.MenuTextShowTicker {
	width: 480px;
	height: 20px; 
	overflow: hidden;
}

/* 新聞速報 */
.MenuNowNews {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 9pt;
  color: #666666;
  text-align: left;
  margin: 10px 0px 0px 0px;
  background-color:#ffffff;
  border:1px dotted #4B618C;
}
/* =========================================== */
/* 功能選單 結束                               */
/* =========================================== */
